/Assets/_Barking_Dog
/Assets/CGY_ATM
/Assets/FastMesh
/Assets/Scenes/ZNS3D
/Assets/Pluginss
/Assets/Resources
/Assets/Unity.VisualScripting.Generated

/Assets/XR
/Library
/Logs
/ProjectSettings
/UserSettings
/.vs
/Temp
